{% extends 'base.html' %}

{% block content %}

<h1>Welcome to the index{% if g.current_user != None %}, {{g.current_user["username"]}} {% elif g.current_user == None %}, Guest{% endif %}!</h1>


<h2>List of users:</h2>
<ul>
{% for user in users %}
<li>Username: {{ user["username"] }} <br/>
Email: {{ user["email"] }} <br/>
{{ user["username"] }}'s  list of posts:
<ul>
  {% for post in posts %}
  {% if post["author_id"] == user["id"] %}
  <li>Title: {{ post["title"] }}</li>
  <li>Body: {{ post["body"] }}</li>
  <li>Author ID: {{ post["author_id"] }}</li>
  {% endif %}
  {% endfor %}
</ul>
</li>
<br/>
<br/>
{% endfor %}
</ul>

{% endblock %}
