{% extends 'base.html' %}

{% block content %}

<h1>{{ user["username"] }}'s page!</h1>
<h2>About Me:</h2>
<p>
  {% if user["about_me"] %}
  {{ user["about_me"] }}
  {% endif %}
  <br/>
  {% if user == g.current_user %}
  <a href="{{ url_for('edit') }}">Edit</a>
  {% endif %}
</p>
<!-- Find some way to see if you're already following that isn't really difficult! -->
{% if g.current_user != user %}
{% if isfollowing == True %}
<a href="{{ url_for('unfollow', username=user['username']) }}">Unfollow Me!</a>
{% else %}
<a href="{{ url_for('follow', username=user['username']) }}">Follow Me!</a>
{% endif %}
{% endif %}

{% if g.current_user == user %}
{% include 'post.html' %}
{% endif %}

<h2>Posts:</h2>
{% for post in posts %}
<h3>{{ post["title"] }}</h3>
<p>{{ post["body"] }}</p>
<br/>
{% if post["pub_date"] %}
Published {{ post["pub_date"] | timesince}}
{% endif %}
<br/>
<br/>
{% endfor %}

{% endblock %}
